<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.form-gap {
    padding-top: 70px;
}

.bg-app-color {
 background:#FFA920 !important;
 color:white !important;
}


</style>
<script>
  function validatePassword() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirm-password").value;

      if (password != confirmPassword) {
          alert("Passwords do not match.");
          return false;
      }
      return true;
  }
</script>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                      <h3>
                        <img width="60" src="https://res.cloudinary.com/brookar/image/upload/v1709486724/Property/njqvrr1f7kh2niak5vqu.png" title="logo" alt="logo">
                      </h3>
                      <h2 class="text-center">Reset Password?</h2>
                      <p>You can reset your password here.</p>
                      <p class="text-center"><%= email%></p>
                      <div class="panel-body">
        
                        <form id="register-form" role="form" autocomplete="off" class="form" method="post" onsubmit="return validatePassword()">
        
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                              <input id="password" name="password" required placeholder="password" class="form-control"  type="password">
                            </div>
                             <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
                              <input id="confirm-password" name="password" required placeholder="confirm password" class="form-control"  type="password">
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-block bg-app-color" value="Reset Password" type="submit">
                          </div>
                          
                          <input type="hidden" class="hide" name="token" id="token" value=""> 
                        </form>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

</body>
</html>